.reserve-prop-card {
  background-color: #efefef;
  width: 396px;
  min-height: 86px;
  border-radius: 5px;
  margin: 2vmin;
  display: flex;
}

.revew-res-div h1 {
  text-align: left;
}

.reserve-prop-card * {
  padding: 1vmin;
}

.img-reserve-prop {
  width: 394px;
  height: 404px;
}

.price-div {
  margin: 9vmin 0;
}

.total-div h2 {
  font-weight: 800;
}

.rev-res-main-div {
  font-family: 'Lato';
}