.reserve-prop-card {
  background-color: #efefef;
  width: 396px;
  min-height: 86px;
  border-radius: 5px;
  margin: 2vmin;
  display: flex;
}

.reserve-prop-card * {
  padding: 1vmin;
}

.img-reserve-prop {
  width: 394px;
  height: 404px;
}