.carousel-card {
  display: flex;
  flex-direction: column;
  background-color: rgba(169, 165, 165, 0.625);
  margin: 1vmin auto;
  padding: 1vmin;
  width: 292px;
  height: 457px;
  border-radius: 15px;
  justify-content: space-between;
}

.carousel-card h2 {
  color: white;
}

.carousel-card * {
  text-align: center;
  margin: 4vmin;
}

.icon-with-font {
  width: 80px;
  height: 80px;
}

.black-btn-smaller {
  background-color: white;
  color: black;
}

.black-btn-smaller:hover {
  opacity: 0.8;
}

.bold-font {
  font-weight: 800;
}

/* accessibility icons */
.not-accessible-icon {
  width: 151px;
  height: 39px;
}

.accessibile-icon {
  width: 106px;
  height: 27px;
}

.info-div-table {
  border: 2px solid #FC917D;
}

.accesibility-icons {
  width: 106px;
  height: 27px;
}

.table {
  width: 100%;
  margin-top: 8vmin;
}

.table-with-bg {
  background-color: #FDBDB1;
}

.table-no-bg {
  background-color: white;
}

.table-no-bg, .table-with-bg {
  padding: 1vmin;
}

.table-with-bg p {
  font-weight: 700;
  display: inline-block;
}

.first-row-table {
  display: flex;
}

.first-row-table div {
  width: 50%;
  margin: 0;
}