.carousel-card {
  display: flex;
  flex-direction: column;
  background-color: rgba(245, 245, 245, 0.625);
  margin: 1vmin auto;
  padding: 1vmin;
  width: 292px;
  height: 307px;
  border-radius: 15px;
  justify-content: space-between;
}

.black-btn {
  background-color: black;
  color: white;
  padding: 1vmin;
  border-radius: 50px;
}

.black-btn:hover {
  background-color: rgb(73, 73, 102);
}