.carousel-card {
  display: flex;
  flex-direction: column;
  background-color: rgba(169, 165, 165, 0.625);
  margin: 1vmin auto;
  padding: 1vmin;
  width: 292px;
  height: 457px;
  border-radius: 15px;
  justify-content: space-between;
}

.carousel-card h2 {
  color: white;
}

.carousel-card * {
  text-align: center;
  margin: 4vmin;
}

.icon-with-font {
  width: 80px;
  height: 80px;
}

.black-btn-smaller {
  background-color: white;
  color: black;
}

.black-btn-smaller:hover {
  opacity: 0.8;
}

.bold-font {
  font-weight: 800;
}