.restaurant-form {
    color: white;
}

label {
    color: black;
    font-weight: bold;
    display: block;
  }

#reservation, button {
    color:black;
    background-color: #FC917D;
    border-color: aqua;
}

#reservation button, #reservation a.button {
  /* display: flex; */
  flex-direction: column;
  /* justify-content: center; */
  margin: 5vmin;
  padding: 1vmin;
  color: var(--white);
  background-color: #FC917D;
  font-size: 5vmin;
  font-weight: bold;
  text-decoration: none;
  text-align: center;
  border: 0.1vmin solid var(--tan-2);
  border-radius: 0.5vmin;
  outline: none;
  cursor: pointer;
}

/* button, a.button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 5vmin;
  padding: 1vmin;
  color: var(--white);
  background-color: #FC917D;
  /* background-color: black; */
  /* font-size: 5vmin;
  font-weight: bold;
  text-decoration: none;
  text-align: center;
  border: none;
  border-radius: 0.5vmin;
  outline: none;
  cursor: pointer;
} */ */



.page-nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  
  .page-nav button {
    padding: 0;
    margin: 0;
  }
  
  .logo {
    height: 38px;
    width: 58px;
    margin-left: 75px;;
  }
  
  .menus {
    display: flex;
    flex-direction: row;
  }
  
  .accessibility-button {
    height: 38px;
    width: 38px;
  }
  
  .hamburger-menu {
    height: 38px;
    width: 38px;
  }
  