.assist-div label {
  color: black;
}

.assist-div h1 {
  font-weight: 700;
  text-align: left;
  margin-bottom: 80px;
}

.assist-div p {
  font-size: 24px;
  font-weight: 500;
}

.assist-form {
  margin-bottom: 10vmin;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
}

.assist-form input {
  appearance: none;
  -webkit-appearance: none;
  background-color: rgb(249, 244, 244);
  border-radius: 0;
  border: 1px solid black;
  width: 20px;
  height: 20px;
}

.assist-form input:hover {
  cursor:pointer;
}

.assist-form input:checked {
  background-color: red;
}

.assist-form * {
  font-size: 16px;
}

.assist-form div {
  margin: 2vmin;
}

.assist-icon {
  width: 43px;
  height: 43px;
}

.assist-form label {
  text-align: left;
  margin-left: 4vmin;
  font-size: 20px;
  font-weight: 500;
}

.assist-form input {
  margin-right: 1vmin;

}