.black-btn {
  text-align: center;
}

.excursions {
  text-align: center;
}

.card-img {
  height: 250px;
  width: 375px;
  margin: 0;
}

.page-name {
  text-align: left;
}

.page-nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.page-nav button {
  padding: 0;
  margin: 0;
}

.logo {
  height: 38px;
  width: 58px;
  margin-left: 75px;;
}

.menus {
  display: flex;
  flex-direction: row;
}

.accessibility-button {
  height: 38px;
  width: 38px;
}

.hamburger-menu {
  height: 38px;
  width: 38px;
}
