.search-div {
  border-radius: 50px;
  width: 394px;
  height: 39px;
  background-color: #efefef;
  margin-bottom: 20px;
  box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.2), 0 5px 10px 0 rgba(0, 0, 0, 0.3);
  display: flex;
  justify-content: space-evenly;
  transition: all 0.5s ease;
}

.search-div:hover {
  cursor: pointer;
  box-shadow: none;
}

.search-icon {
  height: 20px;
  width: 20px;
}

.mic-icon {
  height: 20px;
  width: 18px;
}

.search-div input {
  color: black;
  background-color: rgba(255, 0, 0, 0);
  border: none;
  font-size: 16px;
  text-align: center;
}

.search-div input::placeholder {
  color: black;
  position: center;
}

input:focus::placeholder {
  color: transparent;
}

.search-div * {
  border: none;
}

/* .search-div button {
  background-color: rgba(240, 248, 255, 0);
  height:20px;
  width:20px;
  position: relative;
} */

.search-div button:hover {
  opacity: 0.4;
}