.signUpForm {
  border: none;
}

.signUpForm * {
  color: black;
  font-size: 16px;
  text-align: left;
}

.signUpForm label {
  margin: 4px 0;
}

.signUpForm input {
  width: 394px;
  height: 44px;
  border-radius: 6px;
  background-color: #D9D9D9;
}

.signUpForm button {
  margin-top: 30px;
  text-align: center;
  color: white;
}