

@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');


@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;1,100&display=swap');


:root {
  --white: #FFFFFF;
  --tan-1: #FBF9F6;
  --tan-2: #E7E2DD;
  --tan-3: #E2D9D1;
  --tan-4: #848381;
  --orange: #F67F00;
  --text-light: #968c84;
  --text-dark: #615954;
}

*, *:before, *:after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Lato', sans-serif;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #ffff;
  padding: 2vmin;
  height: 100vh;
}


#root {
  height: 100%;
}

.width-396 {
  width: 396px;
}

.align-ctr {
  text-align: center;
}

.align-rt {
  text-align: right;
}

.smaller {
  font-size: smaller;
}

.flex-ctr-ctr {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-end {
  justify-content: flex-end;
  align-items: flex-end;
}

.flex-col {
  flex-direction: column;
}

.space-between {
  justify-content: space-between;
}

.flex-j-end {
  justify-content: flex-end;
}

.scroll-y {
  overflow-y: scroll;
}

/* home page */
.header {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.home-container {
  display: grid;
  margin: 20px;
  padding: 20px;
  grid-template-columns: 400px 400px;
 
  justify-content: center;
  align-items: center;
  justify-items: end;
 
 position: relative;
  

}

.nav {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 10px
}

.hamburger {
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  cursor: pointer;
  padding: 5px;
}

.hamburger::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 30px; 
  height: 30px; 
  background-color: black; 
  border-radius: 50%;
}

.hamburger .line {
  width: 15px;
  height: 2px;
  background-color: #fff;
  margin-bottom: 5px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.hamburger .line:nth-child(2) {
  top: calc(50% - 4px); 
}

.hamburger .line:last-child {
  top: calc(50% + 4px); 
}



.accessibility-menu{
  display: none;
  position: absolute;
  top: 100%;
  right: 0;
  padding: 10px;
  background-color: #FBF9F6;
}
.accessibility-menu.open {
  display: block;

}
.accessibility-menu img {
  width: 20px;
  height: auto;
  cursor: pointer;
}

.accessibility-hamburger img {
  width: 30px; 
  height: auto;
  cursor: pointer;
}

.accessibility-hamburger .accessibility-menu {
  display: none;
  position: absolute;
  top: 100%;
  right: 0;
  padding: 10px;
  background-color: #f9f9f9;
}

.accessibility-hamburger .accessibility-menu.open {
  display: block;
}

.menu {
  display: none;
  flex-direction: column;
  background-color: #f9f9f9;
  position: absolute;
  top: 100%;
  right: 0;
  left: 0;
  padding: 10px;
}

.menu.open {
  display: flex;
}

.menu a,
.menu span {
  margin: 10px;
}

img {
  margin: 5px;
  height: 500px;
  width: 500px;
  border-radius: 1vmin;
}

img:hover {
  cursor: pointer;
  opacity: 0.7;
}


@media only screen and (min-width: 390px) {
  .home-container { 
   
    grid-template-columns: repeat(2, 1fr); 
  }
  #home {
    max-width: 180px;
    max-height: 180px;
    margin: auto;
  }
  .home-logo {
    width: 200px;
    height: auto;
  }
  .hamburger {
    display: flex;
    justify-content: flex-end; 
    position: relative;
    width: 30px;
    height: 30px;
   
  }

  
  .menu {
    display: none;
    flex-direction: column;
    background-color: #f9f9f9;
    position: absolute;
    top: 10px;
    right: 10px;
    left: auto;
    padding: 10px;
  }

  .menu.open {
    display: flex;
  }
  .nav {
    visibility: visible;
  }

}

@media only screen and (min-width: 768px) {
  .home-container{
    width: 80%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    align-items: center;
    align-content: center;
  }
  .hamburger {
    display: none;
  }
  .menu {
    display: none;
    flex-direction: column;
    background-color: #f9f9f9;
    position: absolute;
    top: 10px;
    right: 10px;
    left: auto;
    padding: 10px;
  }

  .menu.open {
    display: flex;
  }
  .nav {
    visibility: visible;
  }
}

@media only screen and (min-width: 1200px) {
  .header {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 20px;
    padding: 30px;
  }
  .home-container {
    display: grid;
    grid-template-columns: 400px 400px;
    justify-content: space-evenly;
    align-items: center;
    align-content: center;
    height: 100vh;
  }
  .nav {
    visibility: visible;
  }

  
}

.carousel-img {
  width: 292px;
  height: 457px;
}


.section-heading {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: var(--tan-1);
  color: var(--text-dark);
  border: .1vmin solid var(--tan-3);
  border-radius: 1vmin;
  padding: .6vmin;
  text-align: center;
  font-size: 2vmin;
}

.form-container {
  padding: 3vmin;
  background-color: white;
  border: .1vmin solid var(--tan-3);
  border-radius: 1vmin;
}

p.error-message {
  color: black;
  text-align: center;
}

form {
  display: grid;
  grid-template-columns: 1fr 3fr;
  gap: 1.25vmin;
  color: white;
}

form * {
  text-align: center;
}

label {
  font-size: 2vmin;
  display: flex;
  align-items: center;
}

a, button {
  text-decoration: none;
}

input {
  padding: 1vmin;
  font-size: 2vmin;
  border: .1vmin solid var(--tan-3);
  border-radius: .5vmin;
  color: var(--text-dark);
  background-image: none !important; 
  outline: none;
}

input:focus {
  border-color: var(--orange);
}

.back-btn {
  width: 44px;
  height: 44px;
  background-color: gray;
}

.back-btn:hover {
  opacity: 0.5;
}

.icon-btn {
  width: 44px;
  height: 44px;
  padding: 2px;
}

.icon-btn-small {
  width: 25px;
  height: 25px;
}

button, a.button {
  margin: 1vmin;
  padding: 1vmin;
  color: var(--white);
  background-color:grey;
  font-size: 2vmin;
  font-weight: bold;
  text-decoration: none;
  text-align: center;
  border: .1vmin solid var(--tan-2);
  border-radius: .5vmin;
  outline: none;
  cursor: pointer;
}

button.btn-sm {
  font-size: 1.5vmin;
  padding: .6vmin .8vmin;
}

button.btn-xs {
  font-size: 1vmin;
  padding: .4vmin .5vmin;
}

button:disabled, form:invalid button[type="submit"] {
  cursor: not-allowed;
  background-color: #fa856a86;
}

button[type="submit"] {
  grid-column: span 2;
  margin: 1vmin 0 0;
}

button {
  color: black;
}

.access-btn-small {
  width: 38px;
  height: 38px;
  align-self: flex-end;
}

.black-btn,
.peach-btn-bg, 
.white-btn,
.peach-outline-btn,
.black-btn-smaller {
  background-color: #0FBFBF;
  color: rgb(11, 11, 11);
  border-radius: 50px;
  text-align: center;
  width: 394px;
  padding: 15px;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.553) 0px 1px 2px;
  font-weight: 700;
  font-size: 16px;
  text-decoration: none;
}

.white-btn {
  background-color: white;
  border: 2px solid #0FBFBF;
  color: black;
}

.peach-btn-bg {
  background-color: #FC917D;
  color: black;
}

.peach-outline-btn {
  background-color: white;
  border: 2px solid #FC917D;
  color: black
}

.black-btn-smaller {
  width: 229px;
}

.red-btn {
  background-color: rgb(189, 11, 11);
  border-radius: 50px;
  color: rgb(255, 255, 255);
  font-weight: 800;
  padding: 15px;
}

.assist-btn {
  background-color: #9FE5E5;
  height: 42px;
  border-radius: 5px;
  padding: 6vmin;
  display: flex;
  align-items: center;
}

.assist-btn * {
  color: black;
  font-weight: 600;
}

.assist-btn a {
  margin-left: 10px;
}

.assist-btn:hover, 
.black-btn:hover, 
.button:hover {
  opacity: 0.7;
  text-decoration: none;
  color: rgb(33, 32, 32);
}

button:hover {
  color: black;
}